body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

.main {
  display: flex;
  flex-direction: row-reverse;

  width: 1200px;
  margin: 0 auto;
}

.main_content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

.about_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 20px;
}

.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 25px;
}

.about_user {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 100%;
  margin-bottom: 40px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects {
  margin-bottom: 50px;
}

.projects_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project_link {
  margin-left: 10px;
}

.project_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects_list {
  padding: 0;
  margin-left: 15px;
}

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  padding: 0;
  margin-left: 15px;
}

.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.company_3 {
  margin-bottom: 45px;
}

.university {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.speciality {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}

.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.sidebar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contacts,
.techskills,
.softskills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.contact_type {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}
.contact_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8b9096;
}

.techskills {
  margin-bottom: 40px;
}

.techskills_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.techskills_item {
  color: #fb6d3a;
}

.techskills_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.softskills_list {
  padding: 0%;
  margin-left: 17px;
}

.softskills_item {
  color: #fb6d3a;
}

.softskills_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
